.password_meter {
    display: flex;
    div {
        transition: 0.3s all;
        background-color: #e3e3e3;
        width: 15px;
        height: 4px;
        margin-left: 4px;
    }
}

.password_meter .very-weak:nth-child(-n + 1) {
    background-color: rgb(223, 90, 90);
}
.password_meter .weak:nth-child(-n + 2) {
    background-color: rgb(250, 162, 31);
}
.password_meter .medium:nth-child(-n + 3) {
    background-color: yellow;
}
.password_meter .strong {
    background-color: green;
}
